*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif ;

}

header{
    height: 85px;
    width: 100%;
    background-color: rgb(251,86,48);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header a {
    text-decoration: none;
    color: rgb(251,86,48);
}

.header-itens{
    display: flex;
    align-items: center;
}

.header-itens a {
    text-decoration: none;
    color: black;
    margin-left: 10%;
    font-weight: 500;
}

header.pagina-invertida{
    background-color: whitesmoke;
}

h1.pagina-invertida{
    color: rgb(251,86,48);
    font-size: 20px;
    font-weight: 780;
}

header h1{
    color: white;
    font-size: 45px;
    display: inline;
    justify-content: space-between;
}

header h2{
   display: inline;
   margin-left: 1000px;
   color: white;
}


header img{
    height: 60px;
    width: 60px;
    margin-top: 5px;
    display: inline;

}

.menu ul{
    background-color: rgb(247, 114, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.menu ul li{
    list-style: none;
}

.menu ul li a{
    font-size: 13px;
    color:white;
    text-align: center;
    text-decoration: none;
    text-wrap: nowrap;
    padding: 10px;
    display: block;
    margin-left: 5px;
    
}

.menu ul li a:hover{
    color: rgb(251,86,48);
    background-color: white;
}

body{
    background-color: rgb(184, 184, 184);
}

body.pagina-invertida{
    background-color: rgb(251,86,48);
}

.mid-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.formulario{
    background-color: white;
    border-radius: 4px;
    padding: 4%;
    padding-top: 2%;
}

.formulario h3{
    text-align: center;
}

.formulario input{
    width: 92%;
    margin: 7%;
    margin-left: 0%;
    padding: 4%;
    border: 1px solid #bbb;
}

.formulario-botao{
    width: 100%;
    padding: 2%;
    color: white;
    background-color: rgb(251,86,48);
    margin-bottom: 5%;
}

.links-formulario{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
}

.links-formulario a {
    text-decoration: none;
}

.divisor{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px, 0;
    margin-bottom: 8%;
}

#hr{
    width: 45%;
}

.botoes-formulario{
    display: flex;
    justify-content: space-between;
}

.botoes-formulario img{
    width: 25%;
    margin-right: 6%;
}

.botoes-formulario button{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: solid 2px gainsboro;
    padding: 2%;
}

.formulario-rodape{
    color: #bbb;
    text-align: center;
    margin-top: 7%;
    font-weight: 545;
}

.formulario-rodape a{
    text-decoration: none;
    color: rgb(251,86,48);
}

.bloco-principal{
    background-color: white;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    width: 1000px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
}

.bloco-principal h3{
    grid-column: 1/-1;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(251,86,48);
}



.bloco{
    background-color: white;
    padding: 20px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 0;

}

.bloco input[type="checkbox"]{
    display: none;
}

.bloco input[type="checkbox"]:checked + label{
    border: 2px solid rgb(251,86,48);
}

.conteudo-bloco{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    flex: 1;
    align-items: flex-start;
    
}

.conteudo-bloco p{
    color: gray;
}

label img{
    max-width: 100px;
    height: auto;
    flex-shrink: 0;
}

.bloco label{
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.bloco:hover {
    border: 1px solid rgb(251,86,48);

}

.bloco img{
    max-width: 100px; 
    height: auto;    
    display: block;  
    margin: 0;
    margin-bottom: 10px;
    flex-shrink: 0;

}

.Confirmar{
    margin: auto;
    padding: 10px;
    align-items: center;
    background-color: rgb(251,86,48);
    color: white;
    grid-column: 1/-1;
    margin-top: 10px;
    cursor: pointer;
    border: none;

}

.Confirmar:hover{
    background-color: black;
}

.rodape{
    width: 100%;
    padding: 10px 0;
    background-color: rgb(230, 230, 230);
    
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    width: 1000px;
    margin: 0 auto;
}

.atendimento-cliente{
    flex: 1;
    min-width: 180px;
}

.atendimento-cliente h4{
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #222;
    margin-top: 50px;
}

.atendimento-cliente ol{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
   
}

.atendimento-cliente ol li{
    margin: 0 10px;
}

.pagamentos img{
    height: 20px;
    margin: 5px;
}

.social img{
    height: 25px;
    margin: 4px;
    
   
}

.qrcode{
    width: 80px;
    margin-bottom: 10px;
}
.apps img{
  display: block;
  margin-bottom: 20px;
   
}

.linha{
    text-align: center;
    padding-top: 15px;
    border-top: 1px solid #ccc;
    margin-top: 40px;
    font-size: 12px;
    color: gray;
    width: 1000px;
    margin: 60px auto;
}