<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estilização/style5.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="/img/logo.png" alt="">
        <h1>Xhopii</h1>
        <h2>Sair</h2>
    </header>
    <nav class="menu">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Cadastro Cliente</a></li>
            <li><a href="">Cadastro Funcionário</a></li>
            <li><a href="">Cadastro Produto</a></li>
            <li><a href="cadastro_loja.html">Cadastro Lojas</a></li>
            <li><a href="">Cadastro Cupom</a></li>
            <li><a href="ver_clientes.html">Ver Clientes</a></li>
            <li><a href="ver_funcionarios.html">Ver Funcionários</a></li>
            <li><a href="ver_loja.html">Ver Lojas</a></li>
            <li><a href="ver_cupom.html">Ver Cupom</a></li>
            <li><a href="ver_produtos.html">Ver Produtos</a></li>
        </ul>
        <section>
            <section class="bloco-principal">
                
                <section class="formulario">
                    <h3>Cadastrar Loja</h3>
                    <form action="">
                        <label for="razaosocial">Razão Social:</label>
                        <input type="text" name="nome" id="nome" placeholder="Nome">
                        <label for="nomefantasia">Nome Fantasia:</label>
                        <input type="text" name="nome" id="nomefantasia" placeholder="Nome fantasia">
                        <label for="cnpj">CNPJ:</label>
                        <input type="text" name="cnpj" id="cnpj" placeholder="CNPJ">
                        <label for="email">E-mail:</label>
                        <input type="email" name="email" id="email" placeholder="Email">
                        <label for="telefone">Telefone:</label>
                        <input type="tel" name="telefone" id="telefone" placeholder="Telefone">
                        
                    </form>
                </section>
                    <button class="Confirmar" onclick="alert('Cadastro realizado com sucesso!')"><strong>CADASTRAR</strong></button>
                
            </section>  
            </section>
        </section>
    <footer>
        <section class="rodape">
            <section class="container">
                <section class="atendimento-cliente">
                <h4>ATENDIMENTO AO CLIENTE</h4>
                <ol>
                    <li>Central de ajuda</li>
                    <li>Como comprar</li>
                    <li>Metodos de pagamentos</li>
                    <li>Garantia Xhopii</li>
                    <li>Devolução e Reembolso</li>
                    <li>Fale conosco</li>
                    <li>Ouvidoria</li>
                </ol>
                </section>
                <section class="atendimento-cliente">
                <h4>SOBRE A XHOPII</h4>
                <ol>
                    <li>Sobre nós</li>
                    <li>Politicas Xhopii</li>
                    <li>Politicas de Privacidade</li>
                    <li>Programa de Afiliados</li>
                    <li>Seja um Entregador</li>
                    <li>Ofertas Relampagos</li>
                    <li>Xhopii Blog</li>
                    <li>Imprensa</li>
                </ol>
                </section>
                <section class="atendimento-cliente">
                <h4>PAGAMENTO</h4>
                <section class="pagamentos">
                    <img src="/img/logo-pix.png" alt="">
                    <img src="/img/logo-boleto.png" alt="">
                    <img src="/img/logo-american-express.png" alt="">
                    <img src="/img/logo-visa.png" alt="">
                    <img src="/img/logo-mastercard.png" alt="">
                    <img src="/img/logo-hipercard.png" alt="">
                    <img src="/img/logo-elo.png" alt="">
                </section>
            </section>
              <section class="atendimento-cliente">
                <h4>SIGA-NOS</h4>
                <section class="social">
                    <ol>
                        <li><img src="/img/logo-instagram.png" alt=""></a>Instagram</li>
                        <li><img src="/img/logo-twitter.png" alt=""></a>Twitter</li>
                        <li><img src="/img/logo-facebook.png" alt=""></a>Facebook</li>
                        <li><img src="/img/logo-youtube.png" alt=""></a>Youtube</li>
                        <li><img src="/img/logo-linkedln.png" alt=""></a>Linkedin</li>
                    </ol>
                </section>
            </section>
            <section class="atendimento-cliente">
                <h4>ATENDIMENTO AO CLIENTE</h4>
                <img src="/img/qr-code.png" alt="Qr code" class="qrcode">
                <section class="apps">
                    <img src="/img/logo-google-play.png" alt="">
                    <img src="/img/logo-store-apple.png" alt="">
                </section>
            </section>
            
        </section>
        <section class="linha">
                <p>&copy;2025 Xhopii. Todos os direitos academicos</p>
            </section>
    </footer>
</body>
</html>