<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estilização/style4.css">
    <title>Login</title>
</head>
<body class="pagina-invertida">
    <header class="pagina-invertida">
        <section class="header-itens">
            <img src="/img/logo.png">
            <h1 class="pagina-invertida">Xhopii</h1>
            <a href="home.html">Entre</a>
        </section>
        <a href="#">Precisa de ajuda?</a>
    </header>
    <section class="mid-section">
        <section class="formulario">
            <h3>Login</h3>
            <form action="home.html">
                <input type="text" id="email" name="email" placeholder="Email">
                <input type="text" id="senha" name="senha" placeholder="Senha">
                <button type="submit" class="formulario-botao">ENTRE</button>
                <section class="links-formulario">
                    <a href="redefinir_senha.html">Esqueci minha senha</a>
                    <a href="#">Fazer login com SMS</a>
                </section>
                <section>
                    <hr>
                    <hr>
                </section>
                <section class="botoes-fomulario">
                    <button type="button"><img src="/img/logo-facebook-cicle.png">Facebook</button>
                    <button type="button"><img src="/img/logo-google.png">Google</button>
                    <button type="button"><img src="/img/logo-apple.png">Apple</button>
                </section>
                <p>Novo na Xhopii? <a href="cadastro_cliente.html">Cadastrar</a></p>
            </form>
        </section>
    </section>
    <footer>
        <section class="rodape">
            <section class="container">
                <section class="atendimento-cliente">
                <h4>ATENDIMENTO AO CLIENTE</h4>
                <ol>
                    <li>Central de ajuda</li>
                    <li>Como comprar</li>
                    <li>Metodos de pagamentos</li>
                    <li>Garantia Xhopii</li>
                    <li>Devolução e Reembolso</li>
                    <li>Fale conosco</li>
                    <li>Ouvidoria</li>
                </ol>
                </section>
                <section class="atendimento-cliente">
                <h4>SOBRE A XHOPII</h4>
                <ol>
                    <li>Sobre nós</li>
                    <li>Politicas Xhopii</li>
                    <li>Politicas de Privacidade</li>
                    <li>Programa de Afiliados</li>
                    <li>Seja um Entregador</li>
                    <li>Ofertas Relampagos</li>
                    <li>Xhopii Blog</li>
                    <li>Imprensa</li>
                </ol>
                </section>
                <section class="atendimento-cliente">
                <h4>PAGAMENTO</h4>
                <section class="pagamentos">
                    <img src="/img/logo-pix.png" alt="">
                    <img src="/img/logo-boleto.png" alt="">
                    <img src="/img/logo-american-express.png" alt="">
                    <img src="/img/logo-visa.png" alt="">
                    <img src="/img/logo-mastercard.png" alt="">
                    <img src="/img/logo-hipercard.png" alt="">
                    <img src="/img/logo-elo.png" alt="">
                </section>
            </section>
              <section class="atendimento-cliente">
                <h4>SIGA-NOS</h4>
                <section class="social">
                    <ol>
                        <li><img src="/img/logo-instagram.png" alt=""></a>Instagram</li>
                        <li><img src="/img/logo-twitter.png" alt=""></a>Twitter</li>
                        <li><img src="/img/logo-facebook.png" alt=""></a>Facebook</li>
                        <li><img src="/img/logo-youtube.png" alt=""></a>Youtube</li>
                        <li><img src="/img/logo-linkedln.png" alt=""></a>Linkedin</li>
                    </ol>
                </section>
            </section>
            <section class="atendimento-cliente">
                <h4>ATENDIMENTO AO CLIENTE</h4>
                <img src="/img/qr-code.png" alt="Qr code" class="qrcode">
                <section class="apps">
                    <img src="/img/logo-google-play.png" alt="">
                    <img src="/img/logo-store-apple.png" alt="">
                </section>
            </section>
            
        </section>
        <section class="linha">
                <p>&copy;2025 Xhopii. Todos os direitos academicos</p>
            </section>
    </footer>
</body>
</html>